<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Settings | Mood Based ToDo App | Moodana</title>
    <link rel="icon" type="image/x-icon" href="../Assets/Images/favicon.ico">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Edit your Moodana profile details.">

    <!-- Styles -->
    <link rel="stylesheet" href="/Styles/editProfile.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="container">

            <!-- HEADER -->
            <header class="mb-3">
                <a href="/">
                    <img id="close_icon" src="/Assets/Images/close.png" alt="close icon" width="25" height="25">
                </a>
                <h3 id="header1">Profile Settings</h3>
            </header>

            <!-- INPUTS -->
            <input id="name" class="spacing" type="text" placeholder="Name"><br>
            <h6 id="name_error"></h6>

            <input id="email" class="spacing" type="text" placeholder="Email"><br>
            <h6 id="email_error"></h6>

            <!-- BUTTONS FIXED -->
            <button id="save_changes" type="submit">Save Changes</button>
            <button id="logout" type="submit">Logout</button>

            <!-- SUCCESS MESSAGE -->
            <div id="logout_success">
                <span id="logout_success_message"></span>
            </div>

        </div>
    </div>

    <!-- SCRIPT -->
    <script src="../Scripts/editProfile.js"></script>

    <!-- FOOTER FIXED -->
    <footer class="text-center mt-3">Moodana © 2025</footer>

</body>
</html>
