body {
background-color: rgb(29,30,38) !important;
font-family: Arial !important;
}
div.container {
	background-color: rgb(42,47,60);
	padding: 50px;
	max-width: 500px;
}
img#close_icon {
float: right;
}
h3#header1,h1#header3 {
color: rgb(255,255,255);
}
h4#header2 {
color: rgb(161,164,173);
margin-bottom: 30px;
}
img#weather_icon {
display: block;
margin: auto;
}
p#current_temperature {
color:white;
font-size: 2rem;
text-align: center;
}
p#current_condition {
color: grey;
font-size: 1rem;
text-align: center;
}
p#current_humidity {
color: grey;
font-size: 1rem;
text-align: center;
}
footer {
color: rgb(255,255,255);
text-align: center;
font-size: 0.8rem;
padding-top: 10px;
}
