body {
background-color: rgb(29,30,38) !important;
font-family: Arial !important;
}
div.container {
	background-color: rgb(42,47,60);
	padding: 50px;
	max-width: 500px;
}
img#close_icon {
float: right;
}
h3#header1 {
color: rgb(255,255,255);;
margin-bottom: 15px;
}
button#create_task {
background-color: rgb(156,251,0);
border: none;
width: 400px;
height: 35px;
border-radius: 5px;
padding-right: 75px;
padding-left: 75px;
}
input.spacing {
border-radius: 5px;
margin-bottom: 15px;
background-color: rgb(35,39,50);
border-style: double;
border-block-color: rgb(0,0,0);
width: 400px;
height: 35px;
}
h6#task_name_error {
color: rgb(255,0,0)
}
h6#task_duration_error {
color: rgb(255,0,0);
}
h6#task_date_error {
color: rgb(255,0,0);
}
footer {
color: rgb(255,255,255);;
text-align: center;
font-size: 0.8rem;
padding-top: 10px;
}
