body {
background-color: rgb(29,30,38) !important;
font-family: Arial !important;
}
nav.navbar {
justify-content: left;
}
span#welcome {
color: rgb(255,255,255);
font-size: 1rem;
}
span#account {
color: rgb(161, 164, 173);
font-size: 0.8rem;
}
span#tasks_title {
color: rgb(157,254,0);
}
span#tasks_number {
color: rgb(161,164,173);
font-size: 0.5rem;
padding-right: 50px;
}
span#suggested_tasks_title {
color: rgb(255,255,255);
padding-bottom: 10px;
}
div#tasks.col {
background-color: rgb(40, 44, 56);
border-radius: 10px;
margin-right: 10px;
padding-top: 10px;
}
div#added_tasks.col {
padding-top: 10px;
}
div#suggested_tasks.col {
background-color: rgb(40, 44, 56);
border-radius: 10px;
padding-top: 10px;
}
img#check_mark1, img#check_mark2, img#check_mark3 {
display: block;
margin-left: auto;
}
img.suggested_tasks_image {
padding-top: 10px;
padding-bottom: 5px;
}
h5.login_message{
color: rgb(255,255,255);
text-align: right;
font-size: 0.8rem;
}
h6.login_message {
color: rgb(255,255,255);
margin-top: -20px;
text-align: right;
font-size: 0.6rem;
}
.delete_hover a{
visibility: hidden;
}
.delete_hover:hover a {
visibility: visible;
}
img#delete_bin1, img#delete_bin2, img#delete_bin3 {
display: block;
margin: auto;
}
span#task_delete_message {
color: rgb(255,255,255);
font-size: 0.8rem;
}
div#task_name_border1, div#task_name_border2, div#task_name_border3 {
background-color: rgb(53,59,76);
border-radius: 5px;
padding: 15px;
margin-bottom: 5px;
}
div#task_name1, div#task_name2, div#task_name3 {
color: rgb(255,255,255);
font-size: 0.8rem;
}
div#task_duration1, div#task_duration2, div#task_duration3 {
color: rgb(138,142,152);
font-size: 0.6rem;
}
div#task_time1, div#task_time2, div#task_time3 {
color: rgb(255,255,255);
font-size: 1.5rem;
}
footer {
color: rgb(255,255,255);
text-align: center;
font-size: 0.8rem;
padding-top: 10px;
}
