body {
background-color: rgb(29,30,38) !important;
font-family: Arial !important;
}
nav.navbar {
justify-content: left;
}
span#welcome {
color: rgb(255,255,255);
font-size: 1rem;
}
span#account {
color: rgb(161, 164, 173);
font-size: 0.8rem;
}
span#tasks_title {
color: rgb(157,254,0);
}
span#tasks_number {
color: rgb(161,164,173);
font-size: 0.5rem;
padding-right: 50px;
}
span#suggested_tasks_title {
color: rgb(255,255,255);
padding-bottom: 10px;
}
div#tasks.col {
background-color: rgb(40, 44, 56);
border-radius: 10px;
margin-right: 10px;
padding-top: 10px;
}
div#added_tasks.col {
padding-top: 10px;
}
div#suggested_tasks.col {
background-color: rgb(40, 44, 56);
border-radius: 10px;
padding-top: 10px;
}
img.suggested_tasks_image {
padding-top: 10px;
padding-bottom: 5px;
}
h5.login_message{
color: rgb(255,255,255);
text-align: right;
font-size: 1rem;
}
h6.login_message {
color: rgb(255,255,255);
margin-top: -20px;
text-align: right;
font-size: 0.8rem;
}
footer {
color: rgb(255,255,255);
text-align: center;
font-size: 0.8rem;
padding-top: 10px;
}
