body {
background-color: rgb(29,30,38) !important;
font-family: Arial !important;
}
div.container {
	background-color: rgb(42,47,60);
	padding: 50px;
	max-width: 500px;
}
img#close_icon {
float: right;
}
h3#header1,h1#header2 {
color: rgb(255,255,255);
}
h1#header2 {
text-align: center;
}
h4#header3 {
color: rgb(141,143,149);
text-align: center;
margin-bottom: 15px;
}
button#login {
background-color: rgb(156,251,0);
border: none;
width: 400px;
height: 35px;
border-radius: 5px;
padding-right: 75px;
padding-left: 75px;
}
input.spacing {
border-radius: 5px;
margin-bottom: 15px;
background-color: rgb(35,39,50);
border-style: double;
border-block-color: black;
width: 400px;
height: 35px;
}
footer {
color: rgb(255,255,255);
text-align: center;
font-size: 0.8rem;
padding-top: 10px;
}
