body {
background-color: rgb(29,30,38) !important;
font-family: Arial !important;
}
div.container {
	background-color: rgb(42,47,60);
	padding: 50px;
	max-width: 500px;
}
img#cloud {
float: right;
display: block;
padding-bottom: 10px;
}
h1#header3 {
color: rgb(255,255,255);;
}
h3#header1 {
color: rgb(157,254,0);
}
h4#header2 {
color: rgb(161,164,173);
}
h4#header4 {
color: rgb(161,164,173);
text-align: right;
}
h3#header5 {
color: rgb(157,254,0);
font-size: 1rem;
margin-bottom: 20px;
}
footer {
color: rgb(255,255,255);;
text-align: center;
font-size: 0.8rem;
padding-top: 10px;
}
